.vh-75{
    height: 75vh;
}

.scaleOnHover:hover{
    transform: scale(1.01);
}

.scaleOnClick:active{
    transform: scale(1.02);
}

img.thumbnail{
    width: 100%;
}

.showcase{
    height: 50vh;
    overflow-y: scroll;
}