.vh-75{
    height: 75vh;
}

.hamburger:hover{
    transform: scale(1.01);
}

.hamburger:active{
    transform: scale(1.03);
}

img.thumbnail{
    width: 70%;
}

.player-stats{
    height: 20%;
}

.shop-page{
    height: 70%;
    overflow-y: scroll;
}

.transaction-page{
    height: 70%;
}